/*  your css code here. If applicable */
 body {
      padding: 2rem;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    .container {
      max-width: 800px;
      margin: auto;
    }
    .delete {
      color: red;
      cursor: pointer;
    }